<header>
    <a href="/" class="logo">Digital<strong>House</strong></a>
    <input class="menu-checkbox" type="checkbox" id="menu-checkbox">
    <label class="hamburger" for="menu-checkbox">
        <span class="hamburger-line"></span>
    </label>
    <nav class="nav">
        <ul class="menu">
            <li>
                <a href="#">
                    Sobre nós
                </a>
            </li>
            <li>
                <a href="/">
                    Posts
                </a>
            </li>
            <li>
                <a href="#">
                    Site da DH
                </a>
            </li>
            <% if (!locals.usuario) { %>
                <li>
                    <a href="/cadastro">
                        Cadastre-se
                    </a>
                </li>
                <li>
                    <a href="/login">
                        Login
                    </a>
                </li>
            <% } else { %>
                <li>
                    <a href="/logout">
                        Sair
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>