<footer>
    <p>Digital House © 2022</p>
    <ul class="footer-items">
        <li class="footer-item">
            <small>Termos e condições</small>
        </li>
        <li class="footer-item">
            <small>Política de privacidade</small>
        </li>
    </ul>
</footer>