<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/normalize.css@8.0.1/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/posts/create.css">
    <title>DH News</title>
</head>
<body>
    <%- include ('../partials/header') %>
    <div class="container">
        <form>
            <div class="input-container">
                <label for="input-title">Título</label>
                <input type="text" name="title" id="input-title">
            </div>
            <div class="input-container">
                <label for="input-subject">Assunto</label>
                <input type="text" name="subject" id="input-subject">
            </div>
            <div class="input-container">
                <label for="input-content">Conteúdo</label>
                <textarea name="content" id="input-content" rows="4" cols="50"></textarea>
            </div>
            <button type="submit">Cadastrar post</button>
        </form>
    </div>
    <%- include ('../partials/footer') %>
</body>
</html>